# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bin/

cmake-*/
.idea/
.idea/
build
build_release
build-ios
.DS_Store

./vscode
.vscode
build
build_release
build_release2
build_release3
build_asan
build_debug

3rdparty/*/

configs/moetsi_lab
configs/shop